**/.classpath
**/.project
/bin
**/.settings
/.project
/.settings
/.classpath
/.cache-main
src/**/*.class
.idea/
/out
/target
/project
**/*.log
**/tree.txt
/**/tree.log
tree.log
dependency-reduced-pom.xml
.cache-tests
